.home-who
  padding s(50,16) 0
  &__container
    display flex
    flex-direction row
    justify-content space-between
    width 100%
  &__bloc
    width 50%
    margin-right 10%
  &__bloc-text
    font-family 'opensans'
    font-weight: 300
    line-height: 2
    color $cBlue
    margin-bottom s(40,16)
    & p
      font-family 'opensans'
      font-weight: 300
      line-height: 2
      color $cBlue
      margin-bottom s(40,16)
  &__title
    &--icon
      &:before
        icon('iconWho')
        font-size s(30,35)
        margin-right s(20,30)
  &__bloc-img
    & figure
      & img
        width 100%

@media screen and (max-width: 1300px)
  .home-who
    padding s(50,16) s(20,16)

@media screen and (max-width: 1024px)
  .home-who
    &__container
      flex-direction column
    &__bloc
      margin-right 0
      width 100%
    &__bloc-img
      & figure
        & img
          margin-top s(30,16)

@media screen and (max-width: 768px)
  .home-who
    &__bloc-text
      font-size s(14,16)

