.home
  &__programmes
    background url('../images/backgroundHomeProgrammes.png') no-repeat top center/cover
    background-position: 50% 80%
    position: relative
    padding: s(50,16) s(20,16)
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background-color: alpha($darkGrey,0.8)
      z-index: 10
  &__programmes-bloc
    position: relative
    z-index: 20
    padding-bottom: s(50)
  &__programmes-container
    display: flex 
    flex-direction: row
    justify-content: center
    margin-bottom: s(50)
  &__programmes-time
    font-size: s(16)
    font-weight: 600
    width: 50%
    color: $darkGrey
  &__programmes-title
    font-family: 'firasans'
    font-size: s(16)
    font-weight: 600
    margin-bottom: s(10,16)
    text-transform: uppercase
    color: $mediumRed
  &__programmes-blocs
    width: 33.3333333333%

@media screen and (max-width 1024px)
  .home
    &__programmes-container
      flex-direction: column
    &__programmes-blocs
      width: 100%

@media screen and (max-width 375px)
  .home
    &__programmes-time
      margin-bottom: s(10,16)



    


  
