.header
    position: relative
    overflow hidden
    height s(700,16)
    &__bg
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background url('../images/backgroundheader.png') no-repeat top center/cover
      background-position: 50% 80%
      transform: skewY(4deg);
      transform-origin: bottom right;
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background-color: alpha($cBlue,0.75)
        z-index: 10
.header-home
  position: relative
  z-index: 15
  padding-top: s(300,16)
  color: $cWhite
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &__title
    text-transform: uppercase
    font-family: 'firasans'
    font-size: s(50,16)
    margin-bottom: s(20,50)
    font-weight: 700
    letter-spacing: 1px
  &__text
    font-size: s(20,16)
    font-weight: 300
    margin-bottom: s(40,20)
    max-width 50%
    text-align center
    line-height: 1.2


@media screen and (max-width:1024px)
  .header-home
    padding s(300,16) s(20,16) 0

@media screen and (max-width:800px)
  .header-home
    &__text
      max-width 75%

@media screen and (max-width:626px)
  .header-home
    &__text
      max-width 100%
    &__title
      text-align center
      font-size s(40,16)

@media screen and (max-width:500px)
  .header-home
    &__title
      text-align center
      font-size s(30,16)
    &__text
      font-size s(16,16)


    
