.contact-page
  padding s(50,16) 0
  &__container
    background-color $cWhite
    display flex
    flex-direction row
    justify-content space-between
    margin s(50,16) 0
    padding s(30,16)
    border-radius 10px
  &__bloc
    width 50%
  &__logo
    margin-bottom s(50,16)
    & img
      width 25%
  &__list
    color $cBlue
  &__list + &__list
    margin-top s(30,16)
  &__item
    line-height 1.6
    &--tel
      &:before
        icon('iconUser')
        margin-right s(10,16)
    &--mail
      &:before
        icon('iconUser')
        margin-right s(10,16)
  &__form-label
    display block
    color $cBlue
    font-weight: 500
  &__form-input
    background-color $cLightGrey
    width 100%
    padding s(10,16) s(20,16)
    border-radius 10px
    margin-top s(10,16)
    border 1px solid transparent
    transition .3s ease-in-out
    &:hover,
    &:focus
      border 1px solid $cBlue
      transition .3s ease-in-out
  &__form-champ
    margin-bottom s(30,16)
  &__form-required
    font-style italic
    color $cBlue
    margin-bottom s(30,16)
  &__faq
    margin-top s(30,16)
    color $cBlue
  &__faq-title
    font-size s(20,16)
    font-weight:600
    margin-bottom s(20,20)
  &__faq-text
    font-weight: 300
    width 75%
    line-height 1.6
    & a
      font-weight: 500
      text-decoration underline

.textarea
  resize none

@media screen and (max-width:1300px)
  .contact-page
    padding s(50,16) s(20,16)

@media screen and (max-width:1024px)
  .contact-page
    &__container
      flex-direction column
    &__bloc
      width 100%
    &__bloc-flex
      display flex
      flex-direction row
      margin-bottom s(30,16)
    &__faq
      margin-top 0
      width 50%
    &__flex
      width 50%
    &__logo
      & img
        width 35%

@media screen and (max-width:768px)
  .contact-page
    &__logo
      & img
        width 50%
    &__faq-text
      width 100%

@media screen and (max-width:600px)
  .contact-page
    &__bloc-flex
      flex-direction column
    &__flex
      width 100%
    &__faq
      width 100%
      margin-top s(30,16)
    &__form-required
      font-size s(14,16)
