.animation
  &:after
    transform rotate(180deg);
    transition .3s ease-in-out
.faq-page
  padding s(50,16) 0
  &__bloc
    width 80%
    margin 0 auto s(50,16)
    text-align center
  &__question
    margin-top s(50,16)
    color $cBlue
  &__title
    font-family 'firasans'
    font-size s(20,16)
    font-weight: 600
    margin-bottom s(30,20)
    &:after
      icon ('iconArrow')
      font-size s(12,20)
      margin-left s(10,12)
      display inline-block
  &__text
    font-weight:300
    line-height 1.6
    width 75%
    margin 0 auto
    text-align left
  &__intro
    margin s(50,16) auto 0
    color $cBlue
    font-weight: 300
    line-height 1.6
    text-align center
    width 51%
    & a
      font-weight: 600

@media screen and (max-width:1300px)
  .faq-page
    padding s(50,16) s(20,16)

@media screen and (max-width:1024px)
  .faq-page
    &__bloc
      width 90%
    &__text
      width 100%
    &__intro
      width 75%
    &__title
      position relative
      padding 0 s(10,20)
      line-height 1.6
      &:after
        position absolute
        right -10px
        top 10px

@media screen and (max-width:768px)
  .faq-page
    &__bloc
      width 100%
    &__title
      font-size s(18,16)
    &__text
      text-align center

@media screen and (max-width:550px)
  .faq-page
    &__intro
      width 100%



