.members-page
  padding s(50,16) 0
  &__container
    display flex
    flex-direction row
    justify-content space-between
    flex-wrap wrap
    margin s(125,16) 0 s(50,16)
  &__bloc
    width 30%
    text-align center
    background-color $cWhite
    margin-bottom s(125,16)
    border-radius 10px
    color $cBlue
    padding  0 s(30,16)
  &__figure
    position relative
    top: -75px
    & img
      border-radius 50%
      width 150px
      height 150px
  &__infos
    position relative
    top: -75px
  &__title
    font-size s(20,16)
    font-weight: 600
    font-family 'firasans'
    margin s(20,20) 0
  &__item
    line-height 1.6
    display block
    font-weight: 300
    &--tel
      &:before
        icon('iconUser')
        margin-right s(10,16)
    &--email
      &:before
        icon('iconUser')
        margin-right s(10,16)
  &__text-info
    line-height 1.6
    margin s(20,16) 0 s(-40,16)
    min-height 180px
