.members-page
  padding s(50,16) 0
  &__container
    display flex
    flex-direction row
    justify-content space-between
    flex-wrap wrap
    margin s(125,16) 0 s(-50,16)
  &__bloc
    width 30%
    text-align center
    background-color $cWhite
    margin-bottom s(125,16)
    border-radius 10px
    color $cBlue
    padding  0 s(30,16)
  &__figure
    position relative
    top: -75px
    & img
      border-radius 50%
      width 150px
      height 150px
  &__infos
    position relative
    top: -75px
  &__title
    font-size s(20,16)
    font-weight: 600
    font-family 'firasans'
    margin s(20,20) 0
  &__item
    line-height 1.6
    font-weight: 300
    font-size s(14,16)
    &--tel
      &:before
        icon('iconUser')
        margin-right s(5,14)
    &--email
      &:before
        icon('iconUser')
        margin-right s(5,14)
  &__text-info
    line-height 1.6
    margin s(20,16) 0 s(-40,16)
    min-height 180px

@media screen and (max-width: 1300px)
  .members-page
    padding s(50,16) s(20,16)

@media screen and (max-width: 1024px)
  .members-page
    &__bloc
      width 45%

@media screen and (max-width: 768px)
  .members-page
    &__bloc
      width 75%
      margin 0 auto s(125,16)

@media screen and (max-width: 500px)
  .members-page
    &__bloc
      width 100%
      padding 0 s(20,16)

