.who-page
  padding s(50,16) 0
  &__bloc
    width 60%
  &__parcours
    margin-top s(50,16)
  &__title
    &:before
      font-size s(14,16)
      margin-right s(10,14)
      icon('iconWho')
      color $cBlue
  &__list
    margin s(30,16) auto
    color $cBlue
    max-width 90%
  &__item
    text-align center
    margin-bottom s(20,16)
    line-height 1.6
    & span
      display block
      font-family 'firasans'
      font-weight: 600
      font-size s(20,16)
      &:before
        icon ('iconCalendar')
        margin-right s(10,20)

@media screen and (max-width: 1300px)
  .who-page
    &__bloc
      width 70%

@media screen and (max-width: 1024px)
  .who-page
    padding s(50,16) 0 0
    &__bloc
      width 80%
      margin 0 auto

@media screen and (max-width: 768px)
  .who-page
    &__bloc
      width 100%
    &__list
      max-width 100%
    &__item
      font-size s(14,16)
      & span
        font-size s(16,16)
