$ws_icon-list =       "iconTime"   "\e900",
                      "iconLocationSign"   "\e901",
                      "iconFacebook"   "\e902",
                      "iconPinterest"   "\e903",
                      "iconTwitter"   "\e904",
                      "iconCalendar"   "\e905",
                      "iconSite"   "\e906",
                      "iconTel"   "\e907",
                      "iconAddress"   "\e908",
                      "iconMail"   "\e909",
                      "iconArrow"   "\e90a",
                      "iconCreation"   "\e90b",
                      "iconWho"   "\e90d",
                      "iconDowload"   "\e90c",

