$ws_icon-list =       "iconWho"   "\e900",
                      "iconNews"   "\e901",
                      "iconUser"   "\e902",
                      "iconFacebook"   "\e903",
                      "iconArrow"   "\e904",
                      "iconArrowRight"   "\e905",
                      "iconSearch"   "\e906"

