$ws_icon-list =       "iconFile"   "\e900",
                      "iconHoraire"   "\e901",
                      "iconTeacher"   "\e902",
                      "iconTime"   "\e903",
                      "iconEnvelope"   "\e904",
                      "iconCalendar"   "\e905",
                      "iconTel"   "\e906",
                      "iconWho"   "\e907",
                      "iconNews"   "\e908",
                      "iconUser"   "\e909",
                      "iconFacebook"   "\e90a",
                      "iconArrow"   "\e90b",
                      "iconArrowRight"   "\e90c",
                      "iconSearch"   "\e90d"


