// Load config & var
@import "config/global.styl"
@import "config/easing.styl"
@import "config/icons.styl"

// Load mixins & functions
@import "tools/utils.styl"
@import "tools/sizing.styl"
@import "tools/icons.styl"
@import "tools/kaduk.styl"
@import "tools/gridz.styl"

// Load styles
@import "generic/reset_flexbox.styl"
@import "generic/reset_meyer.styl"

// Load Base
@import "base/base.styl"

// load settings
@import "settings/colors.styl"
@import "settings/fonts.styl"

// Load Components

//HOME
@import "components/home/home-header.styl"
@import "components/home/home-who.styl"
@import "components/home/home-news.styl"
@import "components/home/under-home.styl"


//CONTACT


//NEWS
@import "components/news/news-page.styl"
@import "components/news/single-news.styl"


@import "components/navigation.styl"
@import "components/titles.styl"
@import "components/header.styl"
@import "components/breadcrumb.styl"
@import "components/wpcf7.styl"
@import "components/footer.styl"
@import "components/button.styl"
@import 'components/lightGallery.styl'
@import 'components/bloc-infos.styl'

// Load Objects
@import "objects/wrap.styl";
