.footer
  background-color $cBlue
  padding s(50,16) 0
  &__container
    margin-top s(30,16)
    display flex
    flex-direction row
    justify-content space-between
  &__intro
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    border-bottom  1px solid $cWhite
    padding-bottom s(30,16)
  &__social
    & span
      hidden()
    &:before
      icon('iconFacebook')
      color $cWhite
      font-size s(20,16)
      border 1px solid $cWhite
      border-radius 50%
      padding s(10,20) s(15,20)
  &__title
    font-family 'firasans'
    font-size s(25,16)
    color $cWhite
    font-weight: 500
    margin-bottom s(20,25)
  &__contact
    color: $cWhite
    font-weight 300
    line-height 1.6
    font-size s(18,16)
    margin-bottom s(30,18)
  &__contact-item
    &--tel
      &:before
        icon('iconUser')
        margin-right s(10,16)
    &--mail
      &:before
        icon('iconUser')
        margin-right s(10,16)
    & a
      position relative
      display block
      transition .2s ease-in-out
      line-height 2
      &:before
        content ''
        position absolute
        top calc(100%)
        width 0
        left 0
        height 1px
        transition width.3s ease-in-out
        background-color $cWhite
      &:hover
        &:before
          width 20%
  &__newsletter-input
    display block
    padding s(10,16) s(15,16)
    width 100%
    margin-bottom s(20,16)


