.footer
  background-color $cBlue
  padding s(50,16) 0 0
  &__container
    margin-top s(30,16)
    display flex
    flex-direction row
    justify-content space-between
  &__intro
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    border-bottom  1px solid $cWhite
    padding-bottom s(30,16)
  &__social
    & span
      hidden()
    &:before
      icon('iconFacebook')
      color $cWhite
      font-size s(20,16)
      border 1px solid $cWhite
      border-radius 50%
      padding s(10,20) s(15,20)
  &__title
    font-family 'firasans'
    font-size s(25,16)
    color $cWhite
    font-weight: 500
    margin-bottom s(20,25)
  &__contact
    color: $cWhite
    font-weight 300
    line-height 1.6
    font-size s(18,16)
    margin-bottom s(30,18)
  &__contact-item
    &--tel
      &:before
        icon('iconUser')
        margin-right s(10,16)
    &--mail
      &:before
        icon('iconUser')
        margin-right s(10,16)
    & a
      position relative
      display block
      transition .2s ease-in-out
      line-height 2
      display inline-block
      &:before
        content ''
        position absolute
        top calc(100%)
        width 0
        left 0
        height 1px
        transition width.3s ease-in-out
        background-color $cWhite
      &:hover
        &:before
          width 20%
  &__newsletter-input
    display block
    padding s(10,16) s(15,16)
    width 100%
    margin-bottom s(20,16)
  &__partners
    background-color $cDarkBlue
    padding-bottom s(50,16)
  &__partners-bloc
    display flex
    flex-direction row
    justify-content center
    align-items center
    & a
      display block
      padding 0 s(50,16)
  &__partners-title
    color $cWhite
    font-size s(35,16)
    text-align center
    font-family 'firasans'
    font-weight: 600
    padding s(50,35) 0
  &__partners-figure
    & img
      width auto
      height s(60,16)
  &__copyright
    padding s(20,16) 0
  &__copyright-text
    text-align center
    display block
    color $cWhite
    font-size s(14,16)
    font-weight: 300
    & a
      font-weight: 500

@media screen and (max-width:1300px)
  .footer
    &__main
      padding 0 s(20,16)

@media screen and (max-width:1024px)
  .footer
    &__title
      font-size s(20,16)
    &__contact
      font-size s(16,16)

@media screen and (max-width:768px)
  .footer
    &__container
      flex-direction column
      justify-content center
      align-items center
      padding-bottom s(50,16)
    &__title
      font-size s(25,16)
    &__contact
      font-size s(18,16)
    &__bloc
      text-align center
    &__partners-bloc
      flex-direction column
    &__partners-figure
      margin-bottom s(30,16)
      & img
        width s(150,16)
        height auto
    &__copyright
      padding s(20,16)
    &__partners
      padding-bottom s(20,16)





