.search
  &:before
    icon('iconSearch')
    color $cWhite
    position absolute
    right 0
    top 41px
    font-size s(16,14)
.nav
  font-size: s(14,16)
  font-weight: 500
  position: absolute
  top: s(50,14)
  max-width: s(1240,14)
  margin: 0 auto
  right: 0
  left: 0
  z-index: 20
  color: $cWhite
  &__logo
    position: absolute
    left 3em
    top 9px
  &__container
    display flex
    flex-direction row
    align-items center
    position relative
  &__bloc-link
    margin-right s(50,16)
.menu-button
  display none


.menu
  &__item
    list-style none
    display inline-block
    padding 0
    margin 0
    & a
      position relative
      display inline-block
      padding 0.5em 1em
      margin: 0 0 -1px 0
      border: 1px solid transparent
  &__item > a:focus,
  &__item > a.open
    z-index 1
    border 1px solid #dedede
  &__item-dropdown
    & a
      &:after
        icon('iconArrow')
        font-size s(8,14)
        margin-left s(5,8)
        display inline-block
        transition .3s ease-in-out

.subnav
  position absolute
  display none
  top 2.2em
  margin-top -1px
  padding 0.5em 1em
  border 1px solid #dedede
  background-color #fff
  &__group
    display inline-block
    vertical-align top
    margin 0 1em 0 0
    padding 0
  &__li
    display block
    list-style-type none
    margin 0
    padding 0




/* mega menu list */
.nav-menu {
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}




/* sub-navigation panel */
.sub-nav {
  position: absolute;
  display: none;
  top: 2.2em;
  margin-top: -1px;
  padding: 0.5em 1em;
  border: 1px solid #dedede;
  background-color: #fff;
}

/* sub-navigation panel open state */
.sub-nav.open {
  display: block;
}





