.title
  font-family 'firasans'
  font-size s(35,16)
  font-weight: 600
  margin-bottom s(30,35)
  &__blue
    color $cBlue
  &__white
    color $cWhite
  &__no-margin
    margin-bottom 0

.title-center
  font-family 'firasans'
  font-size s(35,16)
  font-weight: 600
  text-align center


@media screen and (max-width: 768px)
  .title
    font-size s(25,16)