.wpcf7
  width: 45%

.screen-reader-response
  hidden()

.wpcf7-not-valid-tip
  color: $mediumRed
  font-size: s(14,16)
  font-weight 600

.wpcf7-validation-errors
  border: 1px solid $mediumRed
  color: $mediumRed
  font-size: s(14,16)
  font-weight 600
  padding: s(10,14)
  border-radius: 5px
  margin-top: s(20,14)

@media screen and (max-width 768px)
  .wpcf7
    width: 100%