.news-page
  padding 0 0 s(100,16)
  &__infos
    background-color $cBlue
    text-align center
    border-radius 0 0 10px 10px
    padding s(40,16) s(20,16) s(30,16)
    position relative
    color $cWhite
  &__category
    color $cBlue
  &__bloc
    margin-bottom s(50,16)