.sorting
  &__form
    text-align center
    margin-bottom s(30,16)
  &__label
    color $cBlue
    font-weight:300
  &__select
    display block
    margin s(10,16) auto
    border 1px solid transparent
    color $cBlue
    font-weight:600
  &__option
    color $cBlue
    font-weight: 600